@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.info-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid white; */
  color: white;
  font-family: 'IBM Plex Mono', monospace;

}

.main-info{
  display:flex;
  justify-content: center;
  /* border: 2px solid purple; */
  margin:2px;
  font-size: 20px;
  width: 80%;
  margin-left:auto;
  margin-right:auto;


}

@media screen and (max-width: 1024px) {

  .info-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid white; */
    color: white;
    font-family: 'IBM Plex Mono', monospace;
  }
  
  .main-info{
    display:flex;
    justify-content: center;
    /* border: 2px solid purple; */
    margin:2px;
    font-size: 20px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    
  
  }
  
  }


@media screen and (max-width: 375px) {

.info-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid white;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
}

.main-info{
  display:flex;
  justify-content: center;
  border: 2px solid purple;
  margin:2px;
  font-size: 10px;
  width: 90%;
  margin-left:auto;
  margin-right:auto;

}

.ingredients{
  display: flex; 
  justify-content: center;
  margin-top: 5px; 
  margin-bottom: 5px;
}


}