@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.bar-container{
  display:flex;
  justify-content: space-around;
  border: 2px solid orange;
  color: white;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
  font-family: 'IBM Plex Mono', monospace;
  padding: 5px;
  font-size: 13px;
  background-color: black;
}

.bar-container h5{
  font-size:20px;
  margin-top: 10px;
  margin-bottom: 10px;
}



.primary {
  color: red;
  background-color: red;
}

.primary2 {
  color: green;
  background-color: yellow;
}



@media screen and (max-width: 1024px) {
  .bar-container{
    display:flex;
    justify-content: space-around;
    border: 2px solid orange;
    color: white;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    font-family: 'IBM Plex Mono', monospace;
    padding: 5px;
    font-size: 13px;
  }

  .bar-container h5{
    font-size:30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  
  .primary {
    color: red;
    background-color: red;
  }
  
  .primary2 {
    color: green;
    background-color: yellow;
  }
  
  }
  

@media screen and (max-width: 375px) {
.bar-container{
  display:flex;
  justify-content: space-around;
  border: 2px solid orange;
  color: white;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  font-family: 'IBM Plex Mono', monospace;
  padding: 5px;
  font-size: 13px;
}



.primary {
  color: red;
  background-color: red;
}

.primary2 {
  color: green;
  background-color: yellow;
}

}

