@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.bar-container{
  display:flex;
  justify-content: space-around;
  border: 2px solid #44318D;
  color: white;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
  font-family: 'IBM Plex Mono', monospace;
  padding: 5px;
  font-size: 13px;
  background-color: black;
}

.bar-container h5{
  font-size:20px;
  margin-top: 10px;
  margin-bottom: 10px;
}



.primary {
  background-color: red;
}

.primary2 {
  background-color: white;
}



@media screen and (max-width: 1024px) {
  .bar-container{
    display:flex;
    justify-content: space-around;
    border: 2px solid #44318D;
    color: white;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    font-family: 'IBM Plex Mono', monospace;
    padding: 5px;
    font-size: 13px;
  }

  .bar-container h5{
    font-size:20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  .primary {
    background-color: red;
  }
  
  .primary2 {
    background-color: white;
  }
  
  }

  @media screen and (max-width: 600px){
    .bar-container{
      display:flex;
      justify-content: space-around;
      border: 2px solid #44318D;
      color: white;
      width: 90%;
      margin-left:auto;
      margin-right:auto;
      font-family: 'IBM Plex Mono', monospace;
      padding: 5px;
      font-size: 13px;
    }
  
    .bar-container h5{
      font-size:15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    
    .primary {
      background-color: red;
    }
    
    .primary2 {
      background-color: white;
    }
    
  }
  
/* Iphone X media query */
@media screen and (max-width: 375px) {
.bar-container{
  display:flex;
  justify-content: space-around;
  color: white;
  width: 90%;
  margin-left:auto;
  margin-right:auto;
  font-family: 'IBM Plex Mono', monospace;
  padding: 5px;
  font-size: 13px;
}

.bar-container h5{
  display: flex; 

  font-size:10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.primary {
  background-color: red;
}

.primary2 {
  background-color: white;
}

}
