@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.bulk-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
}

.title {
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 30px;
  
}

.img{
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 450px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid yellow; */

  
}


@media screen and (max-width: 1024px) {
  .bulk-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
  }
  
  .title {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 40px;
    /* border: 2px solid orange; */
  }
  
  .img{
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 350px;
    width: 70%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid yellow; */
  }
  
  }

@media screen and (max-width: 375px) {
.bulk-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
}

.title {
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
}

.img{
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 150px;
  width: 70%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid yellow; */
  
}

}