@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
.navigation{
  display: flex;
  background-color:#BEA23C ;

  border: 2px solid red;
  font-family: 'IBM Plex Mono', monospace;
}

.app-name{
  display: flex; 
  justify-content: left;
  align-items: center;
  width: 100%;
  font-size: 40px;
  margin-top:5px;
  margin-bottom:5px;
  border: 2px solid red;
}

.logo{
    padding: 10px; 
    width: 75px;
    height:75px;
   
}

.menu{
  border: 2px solid red;
  display: flex; 
  margin-right: 40px;
}

.menu ul{
  display: flex;
  justify-content: space-around;
  padding:10px;
  font-size:30px;
}
@media screen and (max-width: 1024px) {
  .navigation{
    display: flex;
    background-color:#BEA23C ;
    border: 2px solid red;
    font-family: 'IBM Plex Mono', monospace;
  }
  
  .app-name{
    display: flex; 
    width: 100%;
    font-size: 40px;
    /* border: 2px solid red; */
  }
  
  .logo{
      padding: 10px; 
      width: 75px;
      height:75px;
  }
  
  .menu{
    border: 2px solid red;
    display: flex; 
    margin-right: 40px;
  }

  .menu ul{
    display: flex;
    justify-content: space-around;
    padding:10px;
    font-size:20px;
  }
}
@media screen and (max-width: 375px) {
.navigation{
  display: flex;
  background-color:#BEA23C ;
  border: 2px solid red;
}

.app-name{
  display: flex; 
  justify-content: center; 
  width: 100%;
  /* border: 2px solid red; */
}

.logo{
    padding: 10px; 
    width: 50px;
    height:50px;
}

.menu{
  display: flex; 
  display: none;
}

}

